.blur{
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 2px solid rgba(255, 255, 255, 1);
}