<footer class="footer">
    <div class="footer-content nav-box">
        <div class="copy-footer">
            <h2 class="name-footer"><span>WL </span>SERVICES</h2>
            <p>  © 2025-2026 </p>
        </div>
        <div class="nav-footer">
            <p class="contact">Contato</p>
            <li>
                <a href="#"><i class="fa-solid fa-envelope"></i>Email</a>
            </li>
        </div>
        <div class="nav-footer">
            <p class="contact">Socializar</p>
            <li>
                <a href="#"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
                <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
            </li>
        </div>
    </div>
</footer>